@model AHome.Models.Web_UserGroup
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddGroup</title>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Areas/Admin/JS/miniui/miniui.js" type="text/javascript"></script>
    <link href="~/Areas/Admin/JS/miniui/themes/default/miniui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/JS/miniui/themes/icons.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        html, body
        {
            font-size: 12px;
            padding: 0;
            margin: 0;
            border: 0;
        }
    </style>
</head>
<body>
    <div>
        <form action="/Admin/Manage/AddGroup" method="post" id="AddGroupInfoForm">
            @Html.ValidationSummary(true) 
            @*//隐藏域保存Group_ID 和Web_Sys_Functions*@
            @Html.HiddenFor(model => model.Group_ID)
            @Html.HiddenFor(model => model.Web_Sys_Functions)
            <fieldset>
                <legend>News</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.USERGROUP)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.USERGROUP)
                    @Html.ValidationMessageFor(model => model.USERGROUP)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DESCRIPTION)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DESCRIPTION)
                    @Html.ValidationMessageFor(model => model.DESCRIPTION)
                </div>

                <div class="editor-label">
                    @Html.Label("Functions")
                </div>
                @if (@ViewBag.EditFunctions == null)
                {
                    <div class="editor-field">
                        <ul>
                            @foreach (var item in @ViewBag.ALLFunctions)
                            {  
                                <li>
                                    <label for="@item.ID">@item.NAME</label>
                                    <input type="checkbox" name="FunctionId" value="@item.ID" id="@item.ID"/>
                                </li>          
                            }
                        </ul>
                    </div>
                    <p>
                        <input type="submit" onclick="onOk" value="添加" />
                    </p>
                }
                else
                {
                    <div class="editor-field">
                        <ul>
                            @*绑定分类，如果是以选择的 则加载时让他的状态为checked*@
                            @{List<AHome.Models.Web_Sys_Function> list = (ViewBag.ALLFunctions as List<AHome.Models.Web_Sys_Function>);
                              foreach (var item in list)
                              {  
                                <li>
                                    <label for="@item.ID">@item.NAME</label>
                                    @if (ViewBag.EditFunctions.Contains(item))
                                    {  
                                        <input type="checkbox" name="FunctionId" value="@item.ID" id="@item.ID" checked="checked" />  
                                    }
                                    else
                                    {  
                                        <input type="checkbox" name="FunctionId" value="@item.ID" id="@item.ID" />  
                                    }
                                </li>  
                              }  
                     
                            }
                        </ul>
                    </div>
                    <p>
                        <input type="submit" onclick="onOk" value="修改" />
                    </p>
                }

            </fieldset>
        </form>
    </div>

    <script>
        var form = new mini.Form("AddGroupInfoForm");

        var formData = {};

        function onOk(e) {
            CloseWindow("save");
        }
        function onCancel(e) {
            CloseWindow("cancel");
        }
    </script>
</body>
</html>
